.box {
  font-family:sans-serif;
  background-color: #06849b;
  border: 5px solid #FFFFFF;

  .clickable-area {
    cursor: pointer;
    width: 90px;
    height: 90px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 70px;
  }
}

.game-header {
  margin: 10px;
  text-align: center;
  font-size: 50px;
  color: #06849b;
}


.game-content-outer {
  width: 100%;
  text-align: center;
}

.game-content-inner {
  display: inline-block;
  position: relative;
}

.x-user-position {
  color: #808080;
  font-size: 70px;
  margin: 20px;
  float: left;
  font-weight: bold;
}

.x-user-position-active {
  color: #06849b;
  font-size: 70px;
  margin: 20px;
  float: left;
  font-weight: bold;
}


.o-user-position {
  color: #808080;
  font-size: 70px;
  margin: 20px;
  float: right;
  font-weight: bold;
}

.o-user-position-active {
  color: #06849b;
  font-size: 70px;
  margin: 20px;
  float: right;
  font-weight: bold;
}

.alertDanger {
  .alert-wrapper {
    //background-color: #51a7e8;
  }
  .alert-head {
    padding: 25px 16px 20px;
  }
  .activated {
    //background-color: #51a7e8;
  }
  //color: #ffffff;
  button{
    //color: #ffe87c;
  }
}

.row1 {
  position: absolute;
  width:90%;
  height:1px;
  top:18%;
  left:15px;
  border-bottom: 2px solid black;
}

.row2 {
  position: absolute;
  width:90%;
  height:1px;
  top:50%;
  left:15px;
  border-bottom: 2px solid black;
}

.row3 {
  position: absolute;
  width:90%;
  height:1px;
  top:82%;
  left:15px;
  border-bottom: 2px solid black;
}

.col1 {
  position: absolute;
  width: 2px;
  height: 90%;
  top: 15px;
  left: 18%;
  background-color: black;
}

.col2 {
  position: absolute;
  width: 2px;
  height: 90%;
  top: 15px;
  left: 50%;
  background-color: black;
}

.col3 {
  position: absolute;
  width: 2px;
  height: 90%;
  top: 15px;
  left: 82%;
  background-color: black;
}

.diagonal1 {
  border-top: solid black;
  height: 210px;
  border-width: 2px;
  width: 380px;
  position: absolute;
  top: 135px;
  left: -98px;
  transform: rotate(45.4deg);
}

.diagonal2 {
  border-top:solid black;
  height: 210px;
  border-width: 2px;
  width: 380px;
  position: absolute;
  top: 135px;
  left: 56px;
  transform: rotate(-45.4deg);
}
